[submodule "3rd-party/sol2"]
	path = 3rd-party/sol2
	url = https://github.com/ThePhD/sol2
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rd-party/lua"]
	path = 3rd-party/lua
	url = https://github.com/lua/lua
[submodule "3rd-party/json"]
	path = 3rd-party/json
	url = https://github.com/nlohmann/json
[submodule "3rd-party/corrade"]
	path = 3rd-party/corrade
	url = https://github.com/mosra/corrade
[submodule "3rd-party/magnum"]
	path = 3rd-party/magnum
	url = https://github.com/mosra/magnum
